.container{
    padding: 16px;
    background-color: #e3e6ea;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px gray;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"]{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 500;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background-color: #4CAF50;
}

input[type="submit"]:hover{
    background-color: #0FAF42;
}

.forgetpsw{
    position: relative;
    float: right;
}

#avatar{
    border-radius: 50%;
    margin: auto;
}