/* wrapping rectangle */
.container , .signup_container{
    padding: 16px;
    background-color: #e3e6ea;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px gray;
    min-width: 300px;
}

.signup_container{
    width: 35%;
}

#signup{
    margin: 8%;
}
/* wrapping rectangle */

/* for log in fields */
input[type=text], input[type=password] , input[type=date],input[type=email],input[type=tel] , #address,#gender {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Times New Roman";
    font-weight: 300;
    font-size: medium;
}

#firstName,#lastName{
    width: 49.4%;
}

/* for log in fields */

/* Log In button  */
input[type="submit"] {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background-color: #4CAF50;
    cursor: hand;
}

input[type="submit"]:hover {
    background-color: #0FAF42;
}

/* Log In button  */

/* Forget password link*/
.forgetpsw {
    position: relative;
    float: right;
}

/* Forget password link*/

/* avatar */
#avatar {
    border-radius: 50%;
    margin: auto;
}

/* avatar */


@media only screen and (max-width: 500px) {
    .container{
        width: 300px;

    }
    #avatar{
        height: 30%;
        width: 50%;
    }

    #firstName,#lastName{
        width: 100%;
    }
}
